<h1 class="text-3xl font-bold mt-8"><%= locals.writing.title %></h1>
<blockquote class="rounded-md text-xl my-4 mr-4 bg-blue-200 border-l border-blue-600 p-4"><%= writing.description %></blockquote>
<div><%- writing.content %></div>
