<h2 class="center">course Details</h2>
<table class="table">
    <tbody>
        <tr>
            <th>Title</th>

            <th>Description</th>

            <th>Max Students</th>

            <th>Cost</th>

        </tr>
        <tr>
            <td>
                <%= course.title %>
            </td>
            <td>
                <%= course.description %>
            </td>
            <td>
                <%= course.maxStudents %>
            </td>
            <td>
                $<%= course.cost %>
            </td>
        </tr>
    </tbody>
</table>