<div class="container">
    <div class="col-sm-6">
        <img src="images/cat.jpg" alt="">
    </div>
    <div class="col-sm-6">
        <h1>Oops! Someting went wrong. The page you're looking for does not exist. </h1>
        <p><a href="/">Go Home</a></p>
    </div>
</div>