<h2 class="center">Subscriber Details</h2>
<table class="table">
    <tbody>
        <tr>
            <th>Name</th>

            <th>Email</th>

            <th>Zip Code</th>

            <th>Courses</th>

        </tr>
        <tr>
            <td>
                <%= subscriber.name %>
            </td>
            <td>
                <%= subscriber.email %>
            </td>
            <td>
                <%= subscriber.zipCode %>
            </td>
            <td>
                <%= subscriber.courses %>
            </td>
        </tr>
    </tbody>
</table>